.navbar-brand {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}
.offcanvas-title {
  font-weight: 500;
  color: #009970;
  font-size: 24px;
  transition: 0.3s color;
}
.logout-button {
  background-color: #009970;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  display: inline-flex; /* Use flexbox to adjust vertical alignment */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
}
.logout-button:hover {
  background-color: #00b383;
}
.navbar {
  background-color: #fff;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.nav-item {
  font-size: 17px;
  margin: 0 60px; /* Horizontal spacing between nav items */
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Hide the dropdown initially */
.dropdown-menu {
  display: block;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.dropdown-item {
  transition: 0.2s;
}
.dropdown-item:hover {
  background: #009970;
  color: white;
}
