<app-nav></app-nav>
<link rel="stylesheet" href="home.component.css" />

<div class="main-video">
  <div class="middle-word">
    <h1>Café Management</h1>
  </div>
  <!-- <div class="bottom-left-word">
    <a style="color: black">{{ message }}</a>
  </div> -->
  <div class="bottom-right-word">
    <a style="color: black">{{ message }}</a>
  </div>
  <!-- Corrected video element with src attribute -->
  <video autoplay loop muted src="assets/cafe.mp4">
    Your browser does not support the video tag.
  </video>
</div>
