<app-nav></app-nav>
<link rel="stylesheet" href="home.component.css" />

<div class="main-video">
  <div class="middle-word">
    <h1>Café Management</h1>
  </div>
  <div class="bottom-right-word">
    <a
      style="color: black"
      href="https://videos.pexels.com/video-files/3044454/3044454-uhd_2560_1440_25fps.mp4"
      target="_blank"
      rel="noopener noreferrer"
    >
      Credit Video By
    </a>
  </div>
  <!-- Corrected video element with src attribute -->
  <video
    autoplay
    loop
    muted
    src="https://videos.pexels.com/video-files/3044454/3044454-uhd_2560_1440_25fps.mp4"
  >
    Your browser does not support the video tag.
  </video>
</div>

{{ message }}
