<div>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="add-category-modal-title">Category</h2>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="submit()" [formGroup]="categoryForm">
          <div class="input-box">
            <div class="input-field">
              <div class="form-group">
                <h5>Edit Category</h5>
                <input type="text" class="form-control" id="category-name" placeholder="Enter new category name" formControlName="categoryName"/>
              </div>
            </div>
          </div>
          <div class="modal-footer form-group">
            <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal" (click)="clearForm()">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
