<!-- <form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <input
    formControlName="email"
    type="email"
    class="form-control"
    placeholder="Email"
    required
  />
  <input
    formControlName="password"
    type="password"
    class="form-control"
    placeholder="Password"
    required
  />
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form> -->
<!-- <form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please register</h1>

  <input
    formControlName="name"
    class="form-control"
    placeholder="Name"
    required
  />

  <input
    formControlName="email"
    type="email"
    class="form-control"
    placeholder="Email"
    required
  />

  <input
    formControlName="password"
    type="password"
    class="form-control"
    placeholder="Password"
    required
  />

  <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
</form> -->
<link rel="stylesheet" href="login.component.css" />
<body>
  <div class="ext-box">
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 side-image"></div>
          <div class="col-md-6 right">
            <div>
              <div class="input-box">
                <header class="header">Sign in</header>
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="input-field">
                    <input
                      formControlName="email"
                      type="email"
                      class="input"
                      id="login-email"
                      required
                      autocomplete="off"
                    />
                    <label for="login-email">Email</label>
                  </div>
                  <div class="input-field">
                    <input
                      formControlName="password"
                      type="password"
                      class="input"
                      id="login-password"
                      required
                    />
                    <label for="password">Password</label>
                  </div>
                  <div class="input-field">
                    <button type="submit" class="submit">Sign In</button>
                  </div>
                  <div class="signin">
                    <span
                      >You have an account?
                      <a href="/register">Register here</a></span
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
