<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="add-menu-modal-itle">Add Menu</h2>
      <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearForm()">
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="menuForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-4 pic">
            <div class="form-group">
              <h5>Image</h5>
              <label for="menu-image" class="upload-pic">
                <img [src]="imagePreview" alt="Image Preview" class="img-preview mt-2 img" id="img" />
              </label>
              <label class="btn btn-primary upload-btn" for="menu-image">
                Upload Image
              </label>
              <input type="file" class="form-control-file" id="menu-image" (change)="onImageAdd($event)" appImage/>
              <div class="error" *ngIf="menuImage?.invalid && submitted">
                  <span>*Image is required.</span>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="input-box">
              <div class="input-field">
                <div class="form-group">
                  <h5>Name</h5>
                  <input type="search" class="input" id="menu-name" placeholder="Enter menu name" formControlName="name"
                    [ngClass]="{'input-invalid': menuName?.invalid && submitted}" />
                </div>
                <div class="error" *ngIf="menuName?.invalid && submitted">
                  <span>*Name is required.</span>
                </div>
                {{menuForm.value|json}}
                <div class="form-group form-block">
                  <h5>Price</h5>
                  <input type="number" class="input" id="price" placeholder="Enter menu price" formControlName="price"
                    [ngClass]="{'input-invalid': menuPrice?.invalid && submitted}" />
                  <div class="error" *ngIf="menuPrice?.invalid && submitted">
                    <div *ngIf="menuPrice?.errors?.['required']">
                      <span>Price is required.</span>
                    </div>
                    <div *ngIf="menuPrice?.errors?.['pattern']">
                      <span>*Only number is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group form-block">
                  <h5>Description</h5>
                  <input type="search" class="input" id="price" placeholder="menu description" rows="2"
                    formControlName="description"
                    [ngClass]="{'input-invalid': menuDescription?.invalid && submitted}" />
                  <div class="error" *ngIf="menuDescription?.invalid && submitted">
                    <span>*Description is required.</span>
                  </div>
                </div>

                <div class="form-group form-block">
                  <h5>Category</h5>
                  <button class="btn btn-outline-secondary dropdown-toggle input" type="button" id="inputDropdownButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    [ngClass]="{'input-invalid': menuCategory?.invalid && submitted}">
                    {{ selectedCategory }}
                  </button>
                  <div class="dropdown-menu p-3" aria-labelledby="inputDropdownButton">
                    <a *ngFor="let cat of category; index as i" class="dropdown-item" (click)="selectCategory(i)">
                      {{cat.categoryName}}
                    </a>
                  </div>
                  <div class="error" *ngIf="menuCategory?.invalid && submitted">
                    <span>*Category is required.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer form-block">
          <button type="button" class="btn btn-secondary cancel-btn" data-bs-dismiss="modal"
            (click)="clearForm()">Cancel</button>
          <div class="form-group">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>