<app-nav></app-nav>
<link rel="stylesheet" href="menu.component.css" />
<div class="main-video">
  <div class="container">
    <div class="menu-container">
      <div class="menu-list">
        <h2 class="menu-text">Menu</h2>
        <div class="table-responsive-md">
          <table class="table table-striped table-inverse">
            <thead class="thead-inverse">
              <tr>
                <th>No.</th>
                <th>Image</th>
                <th>Name</th>
                <th></th>
                <th>
                  <button class="btn btn-primary add-menu-btn" data-toggle="modal" data-target="#add-menu-modal">
                    <i class="fas fa-plus"></i>Add menu</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of menuItems; index as i">
                <td>{{i+1}}</td>
                <td>
                  <img src="data:image/jpeg;base64,{{item.image}}" alt="Menu Item Image" class="img"/>
                </td>
                <td>{{item.name}}</td>
                <td>
                  <button class="edit-menu-btn btn btn-warning">
                    edit
                  </button>
                </td>
                <td>
                  <button class="edit-menu-btn btn btn-danger" (click)="deleteMenuById(item._id)">
                    delete menu
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <video autoplay loop muted src="https://videos.pexels.com/video-files/3044454/3044454-uhd_2560_1440_25fps.mp4">
    Your browser does not support the video tag.
  </video>
</div>

<app-add class="modal fade" id="add-menu-modal" ></app-add>