.main-video {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.main-video video {
  position: fixed;
  z-index: -9;
  object-fit: cover;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  object-fit: cover; /* Ensures video covers the entire container */
  z-index: -1;
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-text {
    justify-content: left; /* Center horizontally */
    align-items: top; /* Center vertically */
    position: sticky; /* Fixes the "Menu" text at the top */
    top: 0;
    background-color: rgb(237, 232, 232);
    z-index: 100;
    padding: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}
thead {
  position:sticky; /* Makes the table header sticky */
  top: 40px; /* Adjust the value depending on the height of your menu header */
  background-color: rgb(237, 232, 232);
  /* z-index: 99; */
}
.menu-container {
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    width: 100%; /* ใช้ความกว้างเต็มของ wrapper */
    max-width: 100%; /* จำกัดความกว้างสูงสุดให้ไม่เกินขนาดของ wrapper */
    padding: 20px; /* เพิ่ม padding สำหรับ container */
    box-sizing: border-box; /* รวม padding และ border ไว้ในขนาดของกล่อง */
    background: rgb(237, 232, 232);
    margin: 1%;
  }
  .menu-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-height: 500px;
  }

  .add-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .add-menu-btn i {
    margin-right: 5px;
  }
  .edit-menu-btn {
    width: 100px;
    /* height: 100%; */
  }
  .modal {
    display: none; /* Hidden by default */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  td{
    height: 100px;
  }
  .input {
    height: 40px; /* ความสูงของ input */
    width: 100%; /* ใช้ความกว้างเต็มของ input-field */
    background: transparent;
    border: none;
    border-bottom: 1px solid #009970;
    outline: none;
    color: #40414a;
    font-size: large;
  }
  .input-box {
    padding: 0 20px;
  }
  
  .pic {
    border: 10px #009970;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  .pic img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url('/assets/x-thin.svg') no-repeat center center;
    background-size: contain;
    cursor: pointer;
  }

  .input-invalid {
    height: 45px; /* ความสูงของ input */
    width: 100%; /* ใช้ความกว้างเต็มของ input-field */
    background: transparent;
    border: none;
    border-bottom: 1px solid #ff0000;
    outline: none;
    box-sizing: border-box; /* รวม padding และ border ไว้ในขนาดของ input */
    font-size: large;
  }
  .input-invalid::placeholder{
    color: #ff0000cb;
  }
  .input-field-invalid .input-invalid:focus,
  .input-field-invalid .input-invalid {
    border-bottom: 1px solid #ff4a4a; /* สีของขอบเมื่อมีการโฟกัส */
  }

  .upload-btn {
    background: #009970;
    border-radius: 50px;
    border-color: #009970;
    display: block;
  }
  .submit-btn {
    background: #009970;
    border-radius: 50px;
    border-color: #009970;
    display: block;
  }
  .cancel-btn {
    /* background: #009970 */
    border-radius: 50px;
    /* border-color: #009970; */
    display: block;
  }
  .upload-btn:hover{
    cursor: pointer;
    background: #00b383;
  }
  .form-control-file {
    display: none;
  }
  .dropdown-menu {
    cursor: pointer;
  }
  .error {
    color: red;
    font-size: 14px;
    top: 55px; /* Adjust position so it doesn't overlap the icon */
  }
  .form-block {
    margin-top: 5%;
  }
  




