<app-nav></app-nav>
<link rel="stylesheet" href="inventory.component.css" />

<div class="main-video">
    <div class="container">
        <div class="row-md-6 card-manage-menu" routerLink="/manage-menu">
            <div>
                <h2>Manage Menu</h2>
            </div>
        </div>
        <div class="row-md-6 card-manage-ingredient ">
            <div>
                <h2>Manage Ingredient</h2>
            </div>
        </div>
    </div>
  <video
    autoplay
    loop
    muted
    src="https://videos.pexels.com/video-files/3044454/3044454-uhd_2560_1440_25fps.mp4"
  >
    Your browser does not support the video tag.
  </video>
</div>
